<html>
    <head>
        <title>Register</title>

        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: lightgrey;
            }
            .helptext {
                display: block;
                font-size: 0.8em;
            }
        </style>
    </head>
    <body>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </body>
</html>